* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cont1 {
    background-color: #121840;
    height: 160px;
    max-width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;

}

.left {
    margin-top: 31px;
    font-size: 35px;
    font-weight: lighter;
    color: #a2b2c5;
    margin-left: 2px;
}

.right {
    margin-top: 60px;
    text-align: end;

}

.right1 p {
    color: #6f746f;
}

.right2 ul {
    display: flex;

}

.right2 ul li a {
    text-decoration: none;
    color: #a2b2c5;
}

.right2 ul li a:hover {
    color: green;
    cursor: pointer;

}


.right1 {
    padding: 12px 13px;
    font-size: 18px;
}

.right2 ul li {
    list-style: none;
    padding: 12px 13px;
    font-size: 22px;
    color: #a2b2c5;

}

.scont2 {
    background-color: #c1c1ba;
    height: 160px;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scont2 h3 {
    color: #6f6f6f;
    font-size: 35px;
    margin-bottom: 15px;
}

.scont2 p {
    text-align: center;
    color: #6a5d5d;
    font-size: 24px;
}

/* ---- */
.sdmain {
    width: 80%;
    background-color: white;
    margin: 10px auto;
}

.box {
    display: flex;
    margin: 31px 0px;

}

.b {
    display: flex;
    justify-content: space-around;
}

.leftbox {
    width: 30%;
}

.rightbox {
    width: 70%;
}

.leftbox h3 {
    font-size: 34px;
    color: gray;
}

.rightbox h5 {
    font-size: 18px;
    margin: 10px 39px;
    color: #737373;
}

.leftbox h6 {
    margin: 14px 80px;
    font-size: 15px;
    color: gray;
}

.b span {
    font-size: 20px;
    font-weight: bold;
    color: #727272;
}

.b p {
    color: #767070;
    font-size: 17px;
    line-height: 3;

}

.footer {
    max-width: 90%;
    margin: auto;
    height: 140px;
    margin-bottom: 10px;
    background-color: #121840;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rightfooter ul {
    display: flex;

}

.rightfooter ul li {
    list-style: none;
    padding: 12px 13px;
    font-size: 22px;
    color: #a2b2c5;

}

.leftfooter {

    font-size: 18px;
    font-weight: lighter;
    color: #a2b2c5;
    margin-left: 28px;
}

.rightfooter ul li a {
    text-decoration: none;
    color: #a2b2c5;
}

.rightfooter ul li a:hover {

    color: green;
    cursor: pointer;
}